@model WeatherForecast.Models.WeatherForecastData
@try
{
    if (Model == null)
    {
        throw new Exception();
    }
    <h2>ამინდის პროგნოზი @Model.City.Name, @Model.City.Country</h2>
    string weatherType = "";

    <canvas id="myChart" class="m-4"></canvas>

    <table id="forecastData" class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>დრო</th>
                <th>ამინდი</th>
                <th>ტემპერატურა</th>
                <th>პროცენტულობა</th>
                <th>აღქმული ტემპერატურა</th>
                <th>ქარი</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecastInfo in Model.WeatherData)
            {
                switch (forecastInfo.Weather[0].Visibility.ToString())
                {
                    case "Rain": weatherType = "Rainy 🌧"; break;
                    case "Clear": weatherType = "Sunny! ☀"; break;
                    case "Clouds": weatherType = "Cloudy ⛅"; break;
                    case "Snow": weatherType = "Snowy ☃"; break;
                }
                
                DateTime dateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
                dateTime = dateTime.AddSeconds(forecastInfo.Dt).ToLocalTime();
                <tr>
                    <td>@dateTime.ToString("MM/dd HH:mm")</td>
                    <td>@weatherType </td>
                    <td>@forecastInfo.Main.Temperature °C</td>
                    <td>@forecastInfo.Main.Humidity %</td>
                    <td>@forecastInfo.Main.Percepita °C</td>
                    <td>@forecastInfo.Wind.Speed m/s</td>
                </tr>
            }

        </tbody>
    </table>
    <br />
}
catch
{

    <h1>City cannot be found, please try again</h1>

    <br />

}

